.account-search {
  display: flex;
  flex-direction: column;
  width: 470px;
  background-color: white;
  padding: 0px 25px 15px;
  margin: 43px;
  border: 2px solid rgba(236, 234, 234, 0.361);
  border-radius: 3px;
  box-shadow: 7px 5px 10px 5px rgb(218, 215, 215);
  margin: 40px auto;
}

.account-search__title {
  border-bottom: 2px solid rgba(160, 159, 159, 0.208);
  border-radius: 3px;
  padding-bottom: 15px;
  font-size: 20px;
}

.account-search__box {
  width: 97%;
  font-size: 17px;
  margin-bottom: 20px;
  padding: 20px 0 20px;
  border-bottom: 2px solid rgba(160, 159, 159, 0.208);
  border-radius: 3px;
}

.account-search__buttons {
  display: flex;
  flex-direction: row;
  align-content: baseline;
  align-self: flex-end;
  padding-right: 17px;
  padding-top: 17px;
}

.account-search__text {
  margin: 0;
  font-weight: 400;
  font-size: 19px;
  line-break: anywhere;
}
/* @media(max-width:500px) {
    .account-search__text{
        font-size: 13px;
    }
    .account-search__box{
        font-size: 11px;
    }
    .account-search__buttons{
        align-self: center;
    }
} */
