
.header {
    padding: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-align: center;
}
.header_authorization-part{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    gap:5px;
}
.forget-password_header {
    color: rgb(60, 99, 240);
    text-decoration: none;
    font-size: 12px;
}

@media(max-width:500px) {
    .header{
        display: flex;
        flex-direction: column; 
        font-size: 14px;
    }
    .header-input{
        font-size: 14px;
    }
   
}
