.header_before_authorization {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: white;
}
.header_before_authorization__authorization_part {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
  gap: 5px;
}
.forget_password__header {
  color: rgb(60, 99, 240);
  text-decoration: none;
  font-size: 12px;
}

@media (max-width: 500px) {
  .header_before_authorization {
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
  .header_before_authorization__input {
    font-size: 14px;
  }
}
