.registration__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

.registration__logo {
    width: 300px;
    height: 100px;
}

.registration {
display:flex;
flex-direction: column;

background-color:white;
padding: 5px 5px;

border: 2px solid rgba(236, 234, 234, 0.361);
border-radius: 3px;
box-shadow: 7px 5px 10px 5px rgb(218, 215, 215); 
margin-bottom: 10px;
}
.registration__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.registration__title {
    padding-bottom: 10px;
    margin: auto;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.667);
}
.registration__text {
    margin: auto;
  padding-bottom: 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.507);
}
.registration__full-name {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}
.registration__password-and-email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registration__input {
    flex: 1;
}

.sex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:10px;
}
.sex__boxes {
    display: flex;

}
.sex__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    border:2px solid rgba(190, 187, 187, 0.208);
    border-radius: 5px;
    padding: 9px 12px;
    color: rgba(0, 0, 0, 0.66);
    font-size:  15px;
    margin-bottom: 7px;
    flex: 1;
}
.sex__title {
    margin: 0;
    padding: 10px 0 10px;
    color: rgba(0, 0, 0, 0.66);
    font-weight: 500;
}
#woman, #man, #other {
    min-width: 0px;
    height: auto;
    flex: 1;
}
.agreement__text {
    display: flex;
    flex-direction: column;
    font-size: 9px;
    color: rgba(0, 0, 0, 0.507);
}
.agreement__artircle{
    padding-bottom: 10px;
}

.other_information {
    color: rgba(0, 0, 0, 0.507);
    font-size: 9px;
    
}

.registration-page__link {
    align-self: center;
    text-decoration: none;
    padding: 20px 0;
    font-size: 18px;
    font-weight: 600;
    color:rgba(60, 117, 240, 0.842);

}

