.header-general-page {
  display: flex;
  justify-content: space-between;
  padding: 0 5px 0;
  align-items: center;
  width: 100%;
  gap: 70px;
}
.search-on-Facebook__box {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 3px;
}
.icon-button__box {
  display: flex;
  align-self: self-end;
}
.icon-myPage__box {
  display: flex;
  align-items: center;
}
