.share-something-new__container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 500px;
    padding: 7px;
    background-color:antiquewhite;

}

.new-information__box {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.475);
    padding: 5px;
}
.new-information {
    width: 100%;
}
.icons-action__buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px 0;
}
.account-foto__div{
    margin-right: 7px;
}

.account-foto {
    display: flex;
    width: 50px;
}