
.input{
    width: 100%;
    height: 40px;
    border: 2px solid rgba(190, 187, 187, 0.208);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.66);
    font-size: 14px;
    font-stretch: ultra-expanded;
    padding: 0px 10px;
    min-width: 160px;
}
/* .input_authorization {
    width: 95%;
    padding-bottom: 10px;
    }

.header-input {
    padding: 5px 12px;
    height: 50%;
}

.account-search_input {
    padding: 10px 7px;
    width: 100%;
 
}

.name_input{
    width: 85%;
   
 margin-right: 10px;
}
.surname_input{
    width: 85%;
 
}
.registration_input-login {
  width:98%
}
.registration_input-password{
    width:98%;
} */