.share_something_new__container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 500px;
  padding: 7px;
  background: white;
  box-shadow: 7px 5px 10px 5px rgb(218 215 215);
  margin-bottom: 7px;
}

.new_information__box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.336);
  padding: 5px 5px 10px;
}
.new_information {
  width: 100%;
}
.icons_action__buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px 0px;
}
.account_foto__div {
  margin-right: 7px;
}

.account_foto {
  display: flex;
  width: 50px;
}
