.green{
    background-color:rgb(124, 209, 40);
    color: white;
    border: 2px solid rgb(124, 209, 40);
    border-radius: 5px;
    width: 70%;
    padding: 9px 5px;
    margin: 17px 0 ;
    font-size: 95%;
  
}
.blue {
    background-color:rgb(60, 99, 240);
    color: white;
    border: 2px solid rgb(60, 99, 240);
    border-radius: 5px;
   padding: 7px 0;
   text-align: center;
   
}
.extra-small {
    width: 4%;
    padding: 1px 0px;
}
.small {
    width: 10%;
}
.medium {
    width: 50%;
    padding: 7px 0;
}
.big {
    width: 100%;
}
.light {
    align-items: center;
    padding: 8px 15px;
    margin-right: 10px;
    background-color: rgb(234, 241, 241);
    border:2px solid rgba(190, 187, 187, 0.208);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.66);
    font-size: 16px;
   
    
}

.header_button-blue {
    background-color:rgb(60, 99, 240);
    color: white;
    border: 2px solid rgb(60, 99, 240);
    border-radius: 5px;
    width: fit-content;
    border-radius: 5px;
    padding: 6px 8px;
    height: 50%;
    margin: 0px 5px;
   
}

/* .account-search-button {
    width: 100%;
    font-weight: 600;
    text-align: center;
    padding: 7px;
    
} */
.account-search_button-blue {
    font-size: 16px;
    padding: 8px 19px;
    font-weight: 500;
}
.registration_button-green {
    align-self: center;
    font-size: 19px;
    font-weight: 600;
}
.footer_button-light{
    padding: 0 3px;
    margin: auto;
    margin-left: 10px;
    font-weight: 200;
    font-size: 15px;
}